[Unit]  
Description=AirCast Bridge  
After=network-online.target  
Wants=network-online.target  
#After=pulseaudio.service
After=avahi-daemon.service


[Service]  
ExecStart=/usr/local/bin/aircast -Z -r -I -l 1000:2000
Restart=on-failure  
RestartSec=30  

[Install]  
WantedBy=multi-user.target   
