[Unit]
Description=Shairport Sync AirPlay Audio Receiver
After=sound.target
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/shairport-sync
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
