[Unit]
Description=Aircast Bridge
Requires=pulseaudio.service
After=pulseaudio.service
After=dbus.service
After=avahi-daemon.service
ConditionUser=!root

[Service]
ExecStart=/usr/local/bin/aircast -l 1000:2000 -Z -r -x /etc/aircast/aircast.xml
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
