[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network.target
After=network-online.target
After=nss-lookup.target
After=pulseaudio.service
After=remote-fs.target
After=sound.target
After=aircast.service
After=shairport-sync.service
After=alsa-restore.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStartPre=/bin/mkdir -p /var/cache/mopidy
ExecStartPre=/bin/chown -R $USER:audio /var/cache/mopidy
ExecStart=/usr/bin/mopidy --config $HOME/.config/mopidy/mopidy.conf
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
